<nav class="nav-bar">
  <div>
    <a class="button" routerLinkActive="nav-bar-active" routerLink="blog">Blog</a>
    <a class="button" routerLinkActive="nav-bar-active" routerLink="about-me" >About me</a>
    <a class="button" routerLinkActive="nav-bar-active" routerLink="resume" >Resume</a>
  </div>

  <div>
    <a class="button" routerLinkActive="nav-bar-active" routerLink="sign-up">Sign-up</a>
    <a class="button" routerLinkActive="nav-bar-active" routerLink="login" >Login</a>
  </div>
</nav>
